*{
    margin: 0;
    padding: 0;
    font-family: inter;
}

#sectionHeaderTitle,
#sectionHeaderText{
    background-color: #303030;
    color: #FFF;
}

#sectionHeaderTitle{
    padding: 206px 0px 0px 62px;
    font-size: 60px;
    font-weight: 600pc;
}

#sectionHeaderText{
    padding: 20px 0px 149px 62px;
    font-size: 20px;
    font-weight: 300;
}

#sectionInformation{
    background-color: #F9F9F9;
    color: #000;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#sectionInformationOne{
    padding: 96px 99px 66px 171px;
}

#sectionInformationTwo{
    padding: 96px 99px 66px 0px;
}

#sectionInformationThree{
    padding: 96px 64px 66px 0px;
}

#sectionExperience{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#sectionExperienceText{
    padding: 304px 64px 222px 77px;
}

#sectionExperienceImg{
    padding: 82px 54px 92px 0px;
    width: 510px;
    height: 605px;
}

#sectionCapture{
    background-color: #303030;
    text-align: center;
}

#sectionCaptureTitle{
    padding: 87px 248px 48px;
    font-weight: bold;
    font-size: 32;
    color: #FFF;
}

input{
    width: 352px;
    height: 56px;
    border-radius: 10px;
    padding-left: 20px;
}

button{
    background-color: #C07212;
    color: #FFF;
    width: 256px;
    height: 56px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 87px;
    cursor: pointer;
}

button:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px rgba(184, 101, 7, 0.562);
}